{% extends'base.html' %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content=" A Collection of nice books" />
  <meta name="viewport" </head>

<body>
  <header>
    <a href="{{url_for('index')}}">
      <picture>

        <img src="{{url_for('static', filename='/images/sahvsergio.svg')}}" alt="sergio herrera" />
      </picture>
    </a>

    <a href="{{url_for('index')}}">
      <h1 class="h1">Book Inventory App</h1>
    </a>
    {% block button %} {% endblock %}
  </header>
  <main>
    {% block content %}

    {% endblock %}
  </main>


  <footer>
    <p class="copy">&copy; Copyright 2023</p>
    <p class="copy">
      Built with &#x2661; by
      <a href="https://twitter.com/sahvsergio" target="_blank">Sergio Herrera (sahvsergio)</a>
    </p>
  </footer>

  <!-- Ion icons scripts -->

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>