<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }} {%endblock %}

    <title>Sergio's Book inventory App</title>

    {% endblock %}
  </head>
  <body>
    {% block header %}
    <header class="container-fluid border border-dark border-bottom">
      <a  class=""href="">
        <picture>
          <img
            class="border border-dark rounded-circle hr-50 "
            src="{{url_for('static', filename='/images/sahvsergio.svg')}}"
            alt="sergio herrera"
          /> 
        </picturec>
      </a>

      <a class="pr-5  " href="{{url_for('index')}}">
        <h1 class=" h-50 d-inline-block">Book Inventory App</h1>
      </a>
      {% block button %} {% endblock %}
    </header>
    {% endblock %}

    <!-- Your page content -->
    {% block content %} {% endblock %} {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }} {% endblock %}
  </body>
</html>
