{% extends'layout.html' %} {%block button %}

<button id="back-btn"><a href="{{url_for('index')}}">Back</a></button>
{% endblock %} {% block content %}

<table id="data" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
    <tr>
      <td>{{ record.book_name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} 
