{% extends'base.html' %} 

{% block button %}


<button id="back-btn"><a href="{{url_for('index')}}">Back</a></button>
{% endblock %}


{% block content %}

<table id="data" class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Number of pages</th>
      <th scope="col">Language</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
    <tr>
      <td>{{ record.book_name }}</td>
      <td>{{ record.number_of_pages }}</td>
      <td>{{ record.language }}</td>
      <td>{{ record.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ charts_data|safe }} {% endblock %}
